<div class="">
  <div class="project-list">
    <h2><span>STARTED PROJECTS</span><i class="fas fa-angle-double-right"></i></h2>
    <div>
      <mat-card *ngFor="let project of projects; let i= index" [ngClass]="more ? 'more':''" id="{{'mat-card_'+i}}"
                class="col-md-4 col-xs-12">
        <mat-card-header>
          <mat-card-title>
            <!-- class="example-header-image">  -->
            <img src="https://st4.depositphotos.com/5040187/19757/v/450/depositphotos_197571740-stock-illustration-logo-swoosh-global-red-letter.jpg"
                 alt="Photo of a Shiba Inu">
            <!-- </mat-card-title>
            <mat-card-title> -->
            <span>PROJECT {{project.title}} </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>DURATION from {{project.start_date  | date:'yyyy-MM-dd'}} to {{project.end_date | date:'yyyy-MM-dd'}}</mat-card-subtitle>
        <mat-card-content>
          <p *ngIf="!more">{{project.description.substring(0,100)}}<span (click)="more=!more"> More...</span></p>
          <p *ngIf="more">{{project.description}}<span (click)="more=!more"> Less</span></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button
                  [routerLink]="['/admin/project-details/',project._id]"
                  color="primary">Details</button>
          <button mat-raised-button
                  color="accent"
                  routerLink="/admin/task-create">Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
