.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.navbar-brand {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 300;
  width: 20%;
}

.navbar-brand:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 22px solid #b2c4d6;
  border-left: 38px solid transparent;
  background-color: #465461;

}

.navbar-brand:after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 22px solid #b2c4d6;
  border-right: 38px solid transparent;
  background-color: #465461;
}

nav {
  width: 100%;
  background-color: #1d2329;
  font-size: 16px;
  height: 100px;
  margin: 0 auto;
}

nav li {
  list-style-type: none;
}

nav li>a {
  color: #aae7ea;
}

nav li>a:hover {
  color: #17cbd4;
  color: #007bff;
  color: #17a2b8;
}

.nav-link.active {
  color: #17a2b8;
}

button[type="submit"] {
  border-color: #17a2b8;
  color: #17a2b8;
}

button[type="submit"]:hover {
  background-color: #0a454e;
  color: #aae7ea;
}

input,
input:focus {
  background-color: #1c1f22;
  color: #aae7ea;
}

.dropdown-menu {
  background-color: #1d2329;
}

.dropdown-item {
  color: #aae7ea;
}

.dropdown-item:hover {
  color: #17a2b8;
  background-color: #0a454e;
}
